/**
 * Layout Overrides
 * Non-token, non-theme styles
 */


 /* Enable multiline of right sidebar */
.VPDocAsideOutline .outline-link {
  white-space: normal;
  word-break: break-word;
  line-height: 1.5;
  padding: 4px 0;
}

.VPDocAsideOutline li {
  margin-bottom: 6px;
}

/* WCAG contrast (dark mode) */
.dark {
--vp-c-brand-1: rgb(255, 85, 85);
}
.custom-block-title > a {
  color: var(--vp-c-brand-1);
}